/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1E2EFF;
    background-alt: #45475AFF;
    foreground:     #D9E0EEFF;
    selected:       #F5C2E7FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
